*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #343f4f;
}
.wrapper .carosel{
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;

}
.wrapper{
    max-width: 1200px;
  
}
.carosel img{
    height: 340px;
    width: calc(100%/3);
    margin-left: 14px;
    object-fit: cover;
}
.carosel img:first-child{
    margin-left:0px;
}